@charset "UTF-8";
/* CSS Document */


/*@-webkit-keyframes colorPulse {
      0% {background-color: red;}
     50% {background-color: white;}
    100% {background-color: blue;}
}*/


@-webkit-keyframes pulse {
      0% {background-color: #45CEEF;}
     25% {background-color: #FFF5A5;}
     50% {background-color: #FFD4DA;}
     75% {background-color: #99D2E4;}
     100% {background-color: #D8CAB4;}
}

 {
 margin: 0;
 padding: 0;
}



/*#box {
 -webkit-animation-name: colorPulse;
 -webkit-animation-duration: 10s;
 -webkit-animation-iteration-count: 10;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in;
 -webkit-animation-fill-mode: forwards;
 -webkit-animation-delay: 2s;
}*/

.colorr {
    /* background-color: #45CEEF; */

    -webkit-animation: pulse 40s infinite alternate;
}

body {
     /* background-color: #45CEEF; */
       
     -webkit-animation: pulse 40s infinite alternate;

}

/* h1 {
 font: 90px/70px 'Allan', arial, serif;
 text-align: center;
 margin: 50px 0 0 0;
 color: rgba(0,0,0, 0.5);
 text-shadow: rgba(255,255,255,0.5) 2px 2px 2px;
} */

/* p {
 font: 15px/25px Helvetica, arial, sans-serif;
 text-align: center;
 color: rgba(0,0,0, 0.7);
} */

/* #picture {

 -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
 -moz-box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
 box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
} */
